*pycache*
*checkpoints*
Internship
CV_Related/samples
CV_Related/CV/others
Interview/Some_Thoughts*
.env
temp.html
.vscode
Companies/JD
*P.md
*P.csv
Schedule
Companies/All
Companies/all_companies.csv
Companies/All_Companies.ipynb
Companies/details.csv